<div class="modal">
    <div class="modal-container">
      <div class="card">
            <h1>
                {{ 
                    !game.computerScore ?
                        'Get Ready!' :
                        game.computerWon ? 'Computer Won!' : 'Draw!'
                }}
            </h1>

            <div class="row">
                <div class="col-1">
                    <h2> <u>Round:</u> {{ game.round }}</h2>

                    <h2>
                        <u>Result:</u> 
                        <span>
                            you({{ game.playerScore }}) : computer({{ game.computerScore }})        
                        </span>
                    </h2>

                    <h2>
                        <u> {{ game.computerScore ? 'Next' : 'This' }} Round:</u>
                        <span>
                            you play 
                            <b>
                                {{
                                    game.computerScore ? game.computerStarts ? 'first' : 'second' : 'first'  
                                }}
                            </b>
                            with 
                            <b>
                                {{
                                    game.computerScore ? game.computerStarts ? 'X' : 'O' : 'X'  
                                }}
                            </b>
                        </span>
                    </h2>
                </div>
                <div class="col-2">
                    <app-mini-board *ngIf="game.computerScore"></app-mini-board>
                </div>
            </div>

            <div class="start-next-round">
                <button (click)="onStartGame()" *ngIf="!game.computerScore">
                    Start Game
                </button>
    
                <button (click)="onNextRound()" *ngIf="game.computerScore">
                    Next Round
                </button>
            </div>

            <div class="user-options" *ngIf="game.computerScore">
                <button (click)="saveResult()" [disabled]="savingResult || deletingResult">
                    Finish and save my result <app-btn-spinner *ngIf="savingResult"></app-btn-spinner>
                </button>
    
                <button (click)="deleteResult()" [disabled]="savingResult || deletingResult">
                    Finish and delete my account <app-btn-spinner *ngIf="deletingResult"></app-btn-spinner>
                </button>
            </div>
      </div>  
    </div>
</div>