<div class="modal">
    <div class="modal-container">
      <div class="card">
        <h1>Authenticate first!</h1>
        <div class="row">
          <div class="col">
            <h3>Social Media Login</h3>
            <img src="assets/img/g-logo2.webp" alt="g-logo" (click)="socialLogin('google')">
            <img src="assets/img/fb-logo.png" alt="fb-logo" (click)="socialLogin('fb')">
          </div>
          <div class="col">
            <h3>Be Anonymous</h3>
            <img src="assets/img/anonymous.png" alt="guest-logo" (click)="guestLogin()">
          </div>
        </div>
        <div class="show-ranking">
            <button (click)="onShowRanking()">Show Ranking</button>
        </div>
      </div>  
    </div>
</div>