<div class="modal">
    <div class="modal-container">
      <div class="card">
          <h1>Authenticate first!</h1>
          <div class="social-login">
            <h3>
              Social Login: 
              <img src="assets/img/g-logo2.webp" alt="g-logo" (click)="socialLogin('google')">
              <img src="assets/img/fb-logo.png" alt="fb-logo" (click)="socialLogin('fb')">
            </h3>
          </div>
          <h1>or</h1>
          <div class="anonymus-login">
            <h3>
              Be Anonymous: 
              <img src="assets/img/anonymous.png" alt="guest-logo">
            </h3>
          </div>
      </div>  
    </div>
</div>